<div class="container">
<div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p id="notice"><%= notice %></p>
<h1>お問い合わせ</h1>
<%= form_for(@contact, url: choose_c_new) do |f| %>
  <%= f.error_messages! %>
  <div class="row">
  <%= f.label :お名前 %>
  <%= f.text_field :name, class: 'form-control', placeholder: "お名前" %>
  <br>
  <br>
  <%= f.label :メールアドレス %>
  <%= f.text_field :email, class: 'form-control', placeholder: "メールアドレス" %>
  <br>
  <br>
  <%= f.label :内容 %>
  <%= f.text_area :content, class: 'form-control', placeholder: "内容" %>
  <br>
  <br>
  <%= f.submit '確認', class: 'btn btn-primary btn-block' %>
  <br>
  <br>
  </div>
<% end %>
</div>
</div>
